/* General styles */
body {
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Playful font */
     /* Light background color for the entire page */
    color: #333; /* Dark text color */
    margin: 0;
    padding: 0;
    background-image: url('./img/bg9.jpg');
            background-size: 100% 100%;
            background-position: center;
            
}

header {
    background-color: #ff6f00; /* Orange background color for the header */
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

header .home-button {
    position: absolute;
    left: 20px;
    top: 20px;
    color: #fff;
    font-size: 1.5em;
}

header h1 {
    font-size: 3em; /* Larger font size */
    margin: 10px 0; /* Margin for spacing */
    color: #fff; /* White text color */
}

.games-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
     /* Background color for the game cards */
}

.game-card {
    background-color: #ffffff; /* White background color for game cards */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.game-card h2 {
    color: #ff6600; /* Orange heading color */
    font-size: 1.8em; /* Larger heading font size */
    margin-bottom: 10px;
}

.game-card p {
    font-size: 1.1em;
    color: #666; /* Medium gray text color */
    margin-bottom: 20px;
}

.game-link img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.game-button {
    background-color: #ff6f00; /* Yellow button color */
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.game-button:hover {
    background-color: #ff9900; /* Darker yellow on hover */
}

footer {
    background-color: #ff6600; /* Orange background color for the footer */
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

footer .social_icon {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

footer .social_icon li {
    display: inline-block;
    margin: 0 10px;
}

footer .social_icon li a {
    color: #fff;
    font-size: 1.5em;
}







